*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* INDEX */

body {
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

.img-fondo {
    width: 100%;
    height: 100%;
    background-color: azure;
    background-image: url(../assets/img/pancakes.jpg);
    background-position: center;
    background-size: cover;
}

.header a {
    color: white;
    text-decoration: none;
}

.contenedor-boton {
    display: flex;
    justify-content: center;
}

.boton {
    background-color: #202020;
    color: white;
    margin: 30px;
    padding: 20px;
    list-style: none;
    font-size: 30px;
    text-decoration: none;
    outline: none;
    border-radius: 10px;
    font-family: Montserrat;
}

.main h1 {
    color: white;
    text-align: center;
    font-size: 7ex;
    padding: 10px;
    height: 100%;
    
}

.section-index {
    width: 100%;
}

.section-index h2 a {
    color: white;
    text-decoration: none;
}

h1 {
    text-shadow: 2px 4px 10px black;
    border: #000000;
    position: relative;
}

.section-index p {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2em;
    padding-bottom: 4em;
}

.section-index__text {
    /* display: flex;
    justify-content: center; */
    color: white;
    font-family: "Montserrat";
    text-shadow: 2px 4px 10px black;
}

.section-index__text h2 {
    display: flex;
    justify-content: center;
}

.footer { 
    position: absolute;
    width: 100%;
    background-color: rgb(33, 37, 31);
    align-content: flex-end;
    margin-top: auto;
}

footer div {
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    text-shadow: 2px 4px 10px #000000;
    height: 50px;
}

footer h3 {
    padding: 20px;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
}

footer div a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat;
    margin: 20px;
}

.p {
    color: black;
    position: relative;
}

na

/* FIN INDEX */

/* SERVICIOS */

.section-servicios {
    color: white;
    text-shadow: 2px 4px 10px black;    
}

/* SERVICIOS */

/* CONTACTO */

.fondoContactos {
    background-image: url(../assets/img/ImagenesContactos/contacto.jpg);
    color: white;
    text-shadow: 2px 4px 10px black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 100vh;
}

.bordes-contactos {
    border-style: none;
    border: none;
    outline: none;
    text-shadow: #000000;
}

/* CONTACTOS */

/* Galeria */

.footerGaleria {
    position: absolute;
    width: 100%;
    bottom: 0%;
    background-color: rgb(0, 0, 0);
    align-content: flex-end;
    margin-top: auto;
}

.bodyGaleria {
    margin: 0;
    background-color: #333;
    color: aliceblue;
    min-height: 100vh;
    align-items: center;
}


/* FAQ */

.imgFondo {
    background-image: url(../assets/img/ImagenesFAQ/FondoFAQ2.jpg);
    text-shadow: 2px 4px 10px black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 90%;
    margin: 100px auto;
}

.container-faq {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.1);
    padding: 30px;
}

.container-faq .title-faq {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.container-faq .item-faq {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.2);
    margin-bottom: 20px;
    border-radius: 10px;
}

.container-faq .item-faq .question {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(43, 51, 122, .2);
    padding: 20px 20px 20px 80px;
    transition: .4s;
}

.container-faq .item-faq .question .more {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px -1px rgba(0,0,0,.2);
    width: 40px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: .4s;
}

.container-faq .item-faq .question .more:hover {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.4);
}

.container-faq .item-faq .question span {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: 10px;
    opacity: .1;
}

.container-faq .item-faq .answer {
    position: relative;
    padding: 0 20px 0 80px;
    overflow: hidden;
    height: 0;
    transition: .4s;
}

.container-faq .item-faq .answer p {
    font-size: 1.3rem;
}

.container-faq .item-faq .answer span {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: -10px;
    opacity: .2;
}

/* Copyright */

.Copyright {
    color: white;
}