*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body General */
body {
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    font-family: 'PT Sans', sans-serif;
}
/* Fin del Body general */
/* INDEX */

.bodyIndex {
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    font-family: 'PT Sans', sans-serif;
    background: #000;
}


.footer { 
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 0);
    align-content: flex-end;
    margin-top: auto;
}

footer div {
    color: white;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    text-shadow: 2px 4px 10px #000000;
    height: 50px;
}

footer h3 {
    padding: 20px;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    justify-content: center;
}

footer div a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
    margin: 20px;
}

/* FIN INDEX */

/* Galeria */

.backgroundGaleria {
    background-image: url(../assets/img/ImagenesGaleria/galeriafondo.jpg);
}

/* Fin Galeria */

/* NOSOTROS */

:root {
    --color-1: #ff3535;
    --color-2: #ffcaca;
    --color-header: #505050;
    --color-fondo: #000000;
    --color-texto-1: #ffffff;
    --color-texto-2: #ffd000;
    --color-texto-3: #ff3535;
}

.mainNosotros {
    width: 100%;
}

/* Seccion 1 */
.sectionNosotros1 {
    background: url(../assets/img/ImagenesNosotros/banner.png) no-repeat right top;
    height: calc(100vh);
}
/* Fin Seccion 1 */

/* Header */



/* banner */

.bannerNosotros {
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    align-items: center;
}

.bannerNosotrosTexto {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.bannerNosotrosTitulo {
    font-size: 3em;
    color: var(--color-texto-2);
    line-height: 0.5;
}

.bannerNosotrosTitulo2 {
    font-size: 5em;
    color: var(--color-texto-1);
}

.textoNosotros {
    font-size: 1.5em;
    color: var(--color-texto-1);
}
.bannerNosotrosLink {
    width: 25%;
    background: var(--color-1);
    color: var(--color-texto-1);
    text-decoration: none;
    padding: 20px 30px;
    margin-top: 35px;
    text-align: center;
    font-size: 20px;
    border-radius: 25px;
}


/* FONDO */

.containerNosotros {
    margin: auto;
}

.sectionNosotros2 {
    width: 75%;
    margin: auto;
    padding: 75px 0;
}

.sectionNosotros2Titulo {
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
    color: var(--color-texto-3);
    font-weight: bold;
}

.usNosotros {
    display: flex;
}

.usText {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #000;
    padding: 0 10% 0 0;

}

.usNosotrosParrafos {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: #000;
    text-align: justify;
}

.parrafosTextos {
    margin: 10px 0;
    font-weight: bold;
}

.usNosotrosImg {
    width: 100%;
}

.imagenClientaNosotros {
    width: 100%;
    border-radius: 10px;
}




















/* FIN NOSOTROS */

/* CONTACTO */

.backgroundContactos {
    background-image: url(../assets/img/ImagenesContactos/contacto.jpg);
    color: white;
    text-shadow: 2px 4px 10px black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 100vh;
}

.bordesContactos {
    border-style: none;
    border: none;
    outline: none;
    text-shadow: #000000;
}

/* CONTACTOS */


/* FAQ */

.backgroundFAQ {
    background-image: url(../assets/img/ImagenesFAQ/FondoFAQ2.jpg);
    text-shadow: 2px 4px 10px black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 90%;
    margin: 100px auto;
}

.containerFaq {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.1);
    padding: 30px;
}

.containerFaq .titleFaq {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.containerFaq .itemFaq {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.2);
    margin-bottom: 20px;
    border-radius: 10px;
}

.containerFaq .itemFaq .question {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(43, 51, 122, .2);
    padding: 20px 20px 20px 80px;
    transition: .4s;
}

.containerFaq .itemFaq .question .more {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px -1px rgba(0,0,0,.2);
    width: 40px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: .4s;
}

.containerFaq .itemFaq .question .more:hover {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.4);
}

.containerFaq .itemFaq .question span {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: 10px;
    opacity: .1;
}

.containerFaq .itemFaq .answer {
    position: relative;
    padding: 0 20px 0 80px;
    overflow: hidden;
    height: 0;
    transition: .4s;
}

.containerFaq .itemFaq .answer p {
    font-size: 1.3rem;
}

.containerFaq .itemFaq .answer span {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: -10px;
    opacity: .2;
}

/* Copyright */

.Copyright {
    color: white;
}


/* PRUEBAS */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


.header {
    width: 100%;
    height: 75px;
    background-size: cover;
    background-position: center;
}

.nav {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.499);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;
    font-size: 1.5em;
}
.nav.active {
    background: hsla(0, 0%, 0%, 0.499);
    padding: 15px;
}
.nav.active .logo,
.nav.active a,
.nav.active .menuBtn i {
    color: #fff;
}

.nav.active .menu a {
    color: #fff;
}

.nav.active .menu a:hover {
    background: #fff;
    color: #000;
}

.logo {
    font-size: 25px;
    color: #000;
    font-weight: 100;
    font-size: 1em;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 10px;
}
.menu li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}
.menu li a:hover {
    padding: 5px 10px;
    background: #000;
    color: #fff;
    border-radius: 15px;
}

.scrol {
    height: 100px;
}

.menuBtn {
    color: white;
    font-size: 20px;
    display: none;
    cursor: pointer;
    font-size: 1.5em;
}

@media screen and (max-width:1024px){
    .menuBtn {
        display: block;
        color: #000;
        font-size: 1.5em;
    }
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 350px;
        height: 100vh;
        background: #81703B; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        transform: translatex(-100%);
    }
    .menu li {
        margin: 15px 0;
    }

    .menu.active {
        transform: translatex(0);
    }

}

/* FIN PRUEBAS */