
.backgroundFAQ {
    background-image:url(../../assets/img/ImagenesFAQ/FondoFAQ.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    h1 {
        color: white;
    }
}


.container {
    width: 100%;
}

.containerFaq {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.1);
    padding: 30px;
}

.containerFaq .titleFaq {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.containerFaq .itemFaq {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.2);
    margin-bottom: 20px;
    border-radius: 10px;
}

.containerFaq .itemFaq .question {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(43, 51, 122, .2);
    padding: 20px 20px 20px 80px;
    transition: .4s;
}

.containerFaq .itemFaq .question .more {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px -1px rgba(0,0,0,.2);
    width: 40px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: .4s;
}

.containerFaq .itemFaq .question .more:hover {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.4);
}

.containerFaq .itemFaq .question span {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: 10px;
    opacity: .1;
}

.containerFaq .itemFaq .answer {
    position: relative;
    padding: 0 20px 0 80px;
    overflow: hidden;
    height: 0;
    transition: .4s;
}

.containerFaq .itemFaq .answer p {
    font-size: 1.3rem;
}

.containerFaq .itemFaq .answer span {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: -10px;
    opacity: .2;
}