.backgroundGaleria {
    background-image: url(../../assets/img/ImagenesGaleria/galeriafondo.jpg);
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    .carrouselGaleria {
        margin-top: 600px;
    }
}