.backgroundGaleria {
    background-image: url(../../assets/img/ImagenesGaleria/galeriafondo.jpg);
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}